.register-container{
    position: absolute;
    .card{
        .card-header{
            width: 80px;
            height: 80px;
            margin: 0 auto;
            margin-top: -40px;
            border-radius: 50%;
            font-size: 36px;
        }
    }
}

.register {
    background-color: white !important;
}

.submit {
    color: white !important;
    background-color: black !important;
}